* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr;
}

.player-info {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
}

.player-one {
    grid-column: 2;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.player-two {
    grid-column: 3;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.board-container {
    display: flex;
    justify-content: center;
}

.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    border-radius: 25px;
    gap: 10px;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: 2px solid black;
    border-radius: 15px;
}

.winner-declaration {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    z-index: 1000;
}