* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr;
}

.player-info {
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
}

.player-one {
    grid-column: 2;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.player-two {
    grid-column: 3;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.board-container {
    display: flex;
    justify-content: center;
}
.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}